<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402717366151-aa8sd8hfd3oqr59d736h5borcgloetv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402717366151-aa8sd8hfd3oqr59d736h5borcgloetv3</string>
	<key>API_KEY</key>
	<string>AIzaSyD3mx8J0l5BDjDV0JIDZdOKUpMwY0tuulk</string>
	<key>GCM_SENDER_ID</key>
	<string>402717366151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alleyCare</string>
	<key>PROJECT_ID</key>
	<string>alley-care</string>
	<key>STORAGE_BUCKET</key>
	<string>alley-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402717366151:ios:ee147410130f32a00aa522</string>
</dict>
</plist>